* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background: #f8f8f8;
}

.sidebar {
}

.sidebar .list-group-item:first-child {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.sidebar .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.dashboard {
  min-height: 90vh;
}

.container_box {
  width: 90%;
  margin: auto;
}

.side_sticky {
  position: fixed;
  width: 200px;
  height: 90vh !important;
  overflow-y: scroll;
}

td {
  max-width: 200px;
  min-width: 180px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .side_sticky {
    position: relative;
    /* z-index: 100; */
    width: 100%;
    height: auto !important;
    overflow-y: scroll;
  }
  .login_dashboard .row {
    transform: translateX(10%);
  }
}
